<!DOCTYPE html>
<html xmlns:th="" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Cadastro do Candidato</title>
</head>
<body class="bg-gray-900 h-screen flex items-center justify-center">
    <form id="submitForm" th:action="@{/candidate/create}" method="post" class="flex gap-24" th:object="${candidate}">
        <div class="space-y-8 bg-zinc-950 roudend-md p-10">
            <p class="text-white">Candidato, crie sua conta gratuitamente</p>
            
            <input type="text" th:field="*{name}" name="name" placeholder="Digite o seu nome" class="bg-gray-50 text-gray-900 text-xd rounded w-96 block p-3 focus:outline-none focus:ring-green-600 focus:ring-2">
            <input type="text" th:field="*{username}" name="username" placeholder="Digite o seu usuário" class="bg-gray-50 text-gray-900 text-xd rounded w-96 block p-3 focus:outline-none focus:ring-green-600 focus:ring-2">
            <input type="email" th:field="*{email}" name="email" placeholder="E-mail" class="bg-gray-50 text-gray-900 text-xd rounded w-96 block p-3 focus:outline-none focus:ring-green-600 focus:ring-2">
            <input id="password" th:field="*{password}" type="password" name="password" placeholder="Senha" class="bg-gray-50 text-gray-900 text-xd rounded w-96 block p-3 focus:outline-none focus:ring-green-600 focus:ring-2">
            <input id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirme sua senha" class="bg-gray-50 text-gray-900 text-xd rounded w-96 block p-3 focus:outline-none focus:ring-green-600 focus:ring-2">
            <textarea name="description" th:field="*{description}" placeholder="Digite uma breve descrição sobre você" class="bg-gray-50 text-gray-900 text-xd rounded w-96 block p-3 focus:outline-none focus:ring-green-600 focus:ring-2"></textarea>
            
            <p class="text-red-400" th:if="${error_message}" th:text="${error_message}"></p>
            <p class="text-red-400" id="password_error">As senhas não conferem</p>
            
            <button class="bg-green-900 w-96 p-4 rounded text-white hover:bg-green-700">Cadastra-se</button>
            
            <a href="/candidate/login" class="block text-center text-green-700 underline underline-offset-2 hover:text-green-600">Login</a>
        </div>
        <div class="text-white max-w-80 text-6xl flex items-center">
            Gestão de Vagas
        </div>
    </form>
</body>

<script>
    document.getElementById("submitForm").addEventListener("submit", (event) => {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;

        if (password !== confirmPassword){
            document.getElementById("password_error").classList.remove("hidden");
            event.preventDefault();
        }
    })
</script>

</html>